@{
    ViewData["Title"] = "Cuentas";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Welcome to .NET 6</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<button type="button" class="btn btn-primary my-3" data-bs-toggle="modal" data-bs-target="#cuentasModal">
    Nueva cuenta
</button>

<div id="divForTableCuentas"></div>

<!-- Modal -->
<div class="modal fade" id="cuentasModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Cuenta</h5>
                <button type="button" class="btn-close btnClearModalCuentas" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="IdCuenta" value="0" />
                <div class="mb-3">
                    <label for="NumeroCuenta" class="form-label">Número de cuenta</label>
                    <input type="number" class="form-control" name="NumeroCuenta" id="NumeroCuenta" placeholder="Numero de cuenta" pattern="[0-9]{4,12}" required>
                </div>
                <div class="mb-3">
                    <label for="SaldoCuenta" class="form-label">Saldo</label>
                    <input type="text" class="form-control" name="SaldoCuenta" id="SaldoCuenta" placeholder="Saldo de la cuenta" pattern="[0-9]{1,5}" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btnClearModalCuentas" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="PostCuenta()">Guardar</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/HomeCuentas.js"></script>